<%= form_for([@game, @activeline]) do |f| %>
  <% if @activeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activeline.errors.count, "error") %> prohibited this line from being saved:</h2>

      <ul>
      <% @activeline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :game_id, @game.id, :name => 'line[game_id]'%>
  <%= f.check_box :received, :class => "tf received" %>
  <label class="tf received" for="line_received"></label>
  <div class="player-box">
  <% @game.team.players.each do |p| %>
    <%= check_box_tag "player_check_#{p.id}", p.id, false, :name => 'line[player_ids][]', :class => 'player' %>
    <%= label_tag "player_check_#{p.id}", p.name, :class => 'player' %>
  <% end %>
  </div>
  <%= f.check_box :scored, :class => "tf scored" %>
  <label class="tf scored" for="line_scored"></label>
  <%= f.submit "Submit" %>
<% end %>
