<p id="notice"><%= notice %></p>

<p>
  <b>Scored?:</b>
  <%= @line.scored %>
</p>
<p>
  <b>Active?:</b>
  <%= @line.active %>
</p>


<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
