<p id="notice"><%= notice %></p>

<p>
  <b>Scored?:</b>
  <%= @line.scored %>
</p>
<p>
  <b>Active?:</b>
  <%= @line.active %>
</p>
<p>
  <b>Players:</b>
  <% @line.players.each do |p| %>
    <%= p.name %> |
  <% end %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', game_path(@line.game) %>
