<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form-table">
    <tr class="field">
      <td><%= f.label :name, "Team Name" %>
      <td><%= f.text_field :name %>
    </tr>
    <tr>
      <td colspan="2"><h3>Players</h3>
    </tr>
    <% index = 0 %>
    <%= f.fields_for :players do |ff| %>
      <tr class="field">
        <% index = index + 1 %>
        <td><%= ff.label :name, "Player #{index}: ", :class => "player-name" %>
        <td><%= ff.text_field :name %>
      </tr>
    <% end %>
    <tr class="actions">
      <td colspan="2"><%= f.submit %>
    </tr>
  </table>
  <% end %>
