<h1>Your Teams</h1>

<% @teams.each do |team| %>
  <div>
    <span class="team-name"><%= team.name %></span>
    <%= link_to 'Show', team, :class => "link" %>
    <%= link_to 'Edit', edit_team_path(team), :class => "link"  %>
    <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure? This is irreversible!' }, :class => "link warning"  %>
  </div>
<% end %>

<%= link_to 'New Team', new_team_path, :class => "link" %>
