<p id="notice"><%= notice %></p>

<h1><%= @team.name %></h1>

<div>
  <h2>Game Breakdown</h2>
  <%= link_to "Start New Game", new_team_game_path(@team) %>
  <% @team.games.each_with_index do |g,i| %>
    <div>
      <h3>Game <%= i+1 %>: <%= link_to g.description, game_path(g) %></h3>
      <% g.lines.each_with_index do |l,i| %>
        <div>
          Point #<%= i+1 %>: Scored: <%= l.scored ? "Us" : "Them" %>, Players: <%= l.players.map {|p| p.name } %>
        <div>
      <% end %>
    </div>
  <% end %>
</div>

<div>
  <h2>Player Breakdown</h2>
  <table>
    <thead>
      <tr>
        <td>Player</td>
        <td>Lines</td>
        <td>Points</td>
      </tr>
    </thead>
    <tbody>
    <% @team.players.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td>-</td>
        <td>-</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
