<h1><%= @team.name %></h1>
<div class="team-links">
  <%= link_to "New Game", new_team_game_path(@team), :class => "new-game-link" %>
  <%= link_to 'Edit Team', edit_team_path(@team) %>
  <%= link_to 'Delete Team', @team, method: :delete, data: { confirm: 'Are you sure? This is irreversible!' }, :class => "warning destroy"  %>
</div>
<h2 id="game-list-label">Games</h2>
<div class="game-list subsection">
  <ul>
    <% @team.games.reverse.each_with_index do |g,i| %>
      <li><%= render 'games/short_game_info', :game => g, :index => i %></li>
    <% end %>
  </ul>
</div>
<h2 id="player-list-label">Players</h2>
<div class="player-list subsection">
  <% @team.players.each_with_index do |p,i| %>
    <%= link_to p.name, p, :class => "color#{i % 10 +1}" %>
  <% end %>
</div>
<h2 id="stat-list-label">Stats</h2>
<div class="stat-list subsection">
  <%= render 'errors_graph', :team => @team, :container => "errors_graph" %>
</div>
