<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_team_path(@team), :class => "link" %>
<%= link_to "New Game", new_team_game_path(@team), :class => "link new-game-link" %>
<%= link_to 'Review Team', review_team_path(@team), :class => "link review" %>
<div class="game-list">
  <ul>
    <% @team.games.reverse.each_with_index do |g,i| %>
      <li><%= render 'games/short_game_info', :game => g, :index => i %></li>
    <% end %>
  </ul>
</div>

