<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <div>Players:</div>
  <div>
    <% @team.players.each do |p| %>
    <%= p.name %>
    <% end %>
  </div>
</p>
<p>
  <div>Games:</div>
  <div>
    <% @team.games.each do |g| %>
    <%= link_to g.description, game_path(g) %>
    <% end %>
  </div>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
