<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form-table">
    <tr class="field">
      <td><%= f.label :name, "Username" %>
      <td><%= f.text_field :name %>
    </tr>
    <tr class="field">
      <td><%= f.label :password, "Password" %>
      <td><%= f.text_field :password %>
    </tr>
    <tr class="field">
      <td><%= f.label :password_confirmation, 'Confirm Password' %>
      <td><%= f.text_field :password_confirmation %>
    </tr>
    <tr class="actions">
      <td colspan="2"><%= f.submit %>
    </tr>
  </table>
<% end %>
