<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="form-table">
    <tr class="field">
      <td><%= f.label :opponent, "Opponent" %>
      <td><%= f.text_field :opponent%>
    </tr>
    <tr class="field">
      <td><%= f.label :description, "Description" %>
      <td><%= f.text_field :description %>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit %>
    </tr>
  </table>
  <%= f.hidden_field :active, :value => 'true' %>
  <%= f.hidden_field :team_id, :value => @team.id %>
<% end %>
