<table class="lines">
  <thead>
    <tr>
      <td class="name">Player</td>
      <% game.lines.each_with_index do |l,i| %>
        <td class="game-line <%=l.scored ? "us" : "them"%>"><%=i+1%></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% game.team.players.each do |p| %>
        <tr>
          <td class="name"><%= link_to "»", p, :class => "subtle-link" %> <%= p.name %> </td>
          <% game.lines.each_with_index do |l,i| %>
            <td class="game-line <%=l.scored ? "us" : "them"%>">
              <%=l.players.include?(p) ? "X" : "" %>
            </td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
