<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @team.name%>
</p>

<p>
  <b>Description:</b>
  <%= @game.description %>
</p>

<p>
  <b>Active:</b>
  <%= @game.active %>
</p>

<p>
  <div>Players:</div>
  <div>
    <% @team.players.each do |p| %>
    <%= p.name %>
    <% end %>
  </div>
  </p>

<p>
  <div>Lines:</div>
  <table>
    <tr>
      <td>Active</td>
      <td>Scored</td>
      <td>Players</td>
    </tr>
    <% @lines.each do |l| %>
    <tr>
      <td><%= l.active ? "X" : "" %></td>
      <td><%= l.scored ? 1 : 0 %></td>
      <td>
        <% l.players.each do |p| %>
          <%= p.name %>, 
        <% end %>
      </td>
    </tr>
    <% end %>
  </div>
  <%= link_to 'New Line', new_game_line_path(@game) %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
