<p id="notice"><%= notice %></p>

<h1><%= @team.name%>: <%= @game.description %></h1>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', team_path(@team) %>
<%= render 'games/game_info', :game => @game, :index => 0, :container => "graph-game-#{@game.id}" %>

<div>
  <%= render 'lines/form' %>
</div>
