<p id="notice"><%= notice %></p>
<h1 class="game"><%= @team.name%>: <%= @game.description %></h1>
<%= render 'games/short_game_info', :game => @game, :index => 0 %>

<div>
  <%= render 'lines/form' %>
</div>
