<%= render 'games/gameform.template' %>
<%= form_for(@activeline) do |f| %>
  <%= hidden_field_tag :game_id, @game.id, :name => 'line[game_id]'%>
  <%= f.hidden_field :game_id, :value => @game.id %>
  <div class="game-info">
    <div class="game-info-item alt-color1"><%= @game.our_score %> - <%= @game.their_score %></div>
    <div class="game-info-item alt-color2">
      <%= f.check_box :received %>
      <%= f.label :received, :id => "received-label", :value => (@activeline.received ? "Received" : "Pulled"), :for => "line[received]" %>
    </div>
    <%= link_to 'Undo', @game.lines.last, method: :delete, data: { confirm: 'Are you sure?' }, :id => "undo-btn", :class => "alt-color3 game-info-item" %>
  </div>
  <div id="on-field-box">
  </div>
  <h2>Available Players</h2>
  <div class="player-box">
    <% @game.team.players.each_with_index do |p,i| %>
      <% is_on_field = (@activeline.line_players.map { |x| x.player_id }.include?(p.id)) %>
      <div class="player color<%=(is_on_field ? "2" : "1")%>">
        <%= check_box_tag "player_check_#{p.id}", p.id, is_on_field, :name => 'line[player_ids][]' %>
        <%= label_tag "player_check_#{p.id}", p.name %>
      </div>
    <% end %>
  </div>
  <div class="submit-box">
    <button type="submit" name="line[scored]" value="1" class="alt-color2 submit-btn">We Scored</input> 
    <button type="submit" name="line[scored]" value="0" class="alt-color3 submit-btn">They Scored</input> 
  </div>
<% end %>
