<h1 class="game"><%= @team.name%>: <%= @game.description %></h1>
<div class="big-score"><span class="us"><%= @game.our_score %></span> - <span class="them"><%= @game.their_score %></span></div>

<div>
  <%= render 'lines/form' %>
</div>
