<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @team.name%>
</p>

<p>
  <b>Description:</b>
  <%= @game.description %>
</p>

<p>
  <b>Active:</b>
  <%= @game.active %>
</p>

<p>
  <div>Players:</div>
  <div>
    <% @team.players.each do |p| %>
    <%= link_to p.name, p %>
    <% end %>
  </div>
</p>

<p>
  <div>Lines:</div>
  <table>
    <thead>
      <tr>
        <td>Line</td>
        <td>Scored</td>
        <td>Players</td>
      </tr>
    </thead>
    <tbody>
      <% @lines.each_with_index do |l, index| %>
      <tr>
        <td><%= link_to "Point #{index + 1}", line_path(l) %></td>
        <td><%= l.scored ? "Us" : "Them" %></td>
        <td>
          <% l.players.each do |p| %>
            <%= p.name %>, 
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'lines/form' %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', team_path(@team) %>
