<tr>
  <td><%= link_to "»", player, :class => "subtle-link" %> <%= player.name %> </td>
  <td class="number total"><%= player.points_played({:game_id => game_id})%></td>
  <td class="number total"><%= player.points_played({:scored => true, :game_id => game_id})%></td>
  <td class="number total"><%= player.points_played({:scored => false, :game_id => game_id})%></td>
  <td class="number total"><%= player.points_played({:scored => true, :game_id => game_id}) - player.points_played({:scored => false, :game_id => game_id})%></td>
  <td class="number total"><%= player.throw_aways({:game_id => game_id})%></td>
  <td class="number total"><%= player.drops({:game_id => game_id})%></td>
  <td class="number total"><%= player.take_aways({:game_id => game_id})%></td>
  <td class="number offense"><%= player.points_played({:received => true, :game_id => game_id}) %></td>
  <td class="number offense"><%= player.points_played({:scored => true, :received => true, :game_id => game_id})%></td>
  <td class="number offense"><%= player.points_played({:scored => false, :received => true, :game_id => game_id})%></td>
  <td class="number offense"><%= player.points_played({:scored => true, :received => true, :game_id => game_id}) - player.points_played({:scored => false, :received => true, :game_id => game_id})%></td>
  <td class="number offense"><%= player.throw_aways({:received => true, :game_id => game_id})%></td>
  <td class="number offense"><%= player.drops({:received => true, :game_id => game_id})%></td>
  <td class="number offense"><%= player.take_aways({:received => true, :game_id => game_id})%></td>
  <td class="number defense"><%= player.points_played({:received => false, :game_id => game_id}) %></td>
  <td class="number defense"><%= player.points_played({:scored => true, :received => false, :game_id => game_id})%></td>
  <td class="number defense"><%= player.points_played({:scored => false, :received => false, :game_id => game_id})%></td>
  <td class="number defense"><%= player.points_played({:scored => true, :received => false, :game_id => game_id}) - player.points_played({:scored => false, :received => false, :game_id => game_id})%></td>
  <td class="number defense"><%= player.throw_aways({:received => false, :game_id => game_id})%></td>
  <td class="number defense"><%= player.drops({:received => false, :game_id => game_id})%></td>
  <td class="number defense"><%= player.take_aways({:received => false, :game_id => game_id})%></td>
</tr>
</tr>
