<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>, 
  <b>Team:</b>
  <%= @player.team.name %>
</p>

<%= render 'points_played', :player => @player %>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
