  <header>

    <div class="site-info">
      <a href="/">Ultimate Stats</a>
    </div>

    <div class="nav-info">
      <%=link_to "Home", root_url %>
      <% if defined? @team and @team.name %>
        <%=link_to @team.name, @team %>
      <% end %>
    </div>

    <div class="user-info">
      <% if session.has_key?(:user_id) %>
        <span class="user">Welcome <%= @user.name %>!</span>
        <%=button_to "Logout", logout_path, :method => 'delete' %>
      <% elsif request.fullpath != login_path %>
        <div class="new-account-question">
          <span>New to Ultimate Stats?</span>
          <%=button_to "Create Account", new_user_path, :method => 'get' %>
        </div>
        <div class="login-question">
          <span>or</span>
          <%=render 'sessions/form' %>
        </div>
      <% end %>
    </div>

    <div class="view-info">
      <% if is_mobile_request? %>
        In mobile view, <%= link_to "Desktop View", root_path %>
      <% elsif request_device?(:iphone) or request_device?(:android) %>
        In desktop view, <%= link_to "Mobile View", root_path %>
      <% end %>
    </div>

  </header>
