  <header>
  <a href="/">Home</a>

    <% if defined? @user %>
      <span class="user"><%= @user.name %></span>
    <% end %>

    <% if defined? @team %>
      <%=link_to @team.name, @team, :class => "team" %>
    <% end %>

    <% if session.has_key?(:user_id) %>
      <%=button_to "Logout", logout_path, :method => 'delete' %>
    <% elsif request.fullpath != login_path %>
      <%=button_to "New User", new_user_path, :method => 'get' %>
      <%=render 'sessions/form' %>
    <% end %>

  </header>
