  <header>
    <div class="site-info">
      <a href="/">Ultimate Stats</a>
      <% if defined? @team and @team.name %>
        | <%=link_to @team.name, @team, :class => "link" %>
      <% end %>
    </div>

    <div class="user-info">
      <% if session.has_key?(:user_id) %>
        <span class="user">Welcome <%= @user.name %>!</span>
        <%=button_to "Logout", logout_path, :method => 'delete' %>
      <% elsif request.fullpath != login_path %>
        <%=button_to "New User", new_user_path, :method => 'get' %>
        <%=render 'sessions/form' %>
      <% end %>
    </div>

  </header>
