<!DOCTYPE html>
<html>
<head>
  <title>Stat Ultimate</title>
  <%= stylesheet_link_tag    "mobile", :media => "all" %>
  <%= javascript_include_tag "mobile" %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
</head>
<body>

  <%= render 'root/header' %>

  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
